<div class="text-center">
    <h1 class="display-4">Ласкаво просимо!</h1>
    <p>Це крутий магазин телефонів.</p>
</div>


<div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="Зображення 1">
                <div class="card-body">
                    <h5 class="card-title">Плитка 1</h5>
                    <p class="card-text">Опис першої плитки.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="Зображення 2">
                <div class="card-body">
                    <h5 class="card-title">Плитка 2</h5>
                    <p class="card-text">Опис другої плитки.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="Зображення 3">
                <div class="card-body">
                    <h5 class="card-title">Плитка 3</h5>
                    <p class="card-text">Опис третьої плитки.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="Зображення 4">
                <div class="card-body">
                    <h5 class="card-title">Плитка 4</h5>
                    <p class="card-text">Опис четвертої плитки.</p>
                </div>
            </div>
        </div>
    </div>
</div>
